<div>
  <div data-dojo-attach-point="mapNode">
   <!--    <div class="panel panel-primary panel-fixed">
      <div class="panel-heading">
        <h3 class="panel-title">Results Graph</h3>
        <button id="chevron" class="btn btn-primary btn-xs btn-absolute">          
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
      </div>
      <div class="panel-body collapse">
         <div id="dir"></div>
      </div>
    </div> -->
	<div class="loading-indicator">
        <div class="loading-message" id="loading_message"></div>
    </div>
  	<div data-dojo-attach-point="homeNode"></div>
    <div data-dojo-attach-point="searchNode"></div>
    <div data-dojo-attach-point="locateNode"></div>
  </div>
</div>
